{% extends 'base.html' %}
{% load staticfiles %}
{% block store %}
<h1>Welcome to the BookStore!</h1><br>
        <div class="large-4 columns">
            <h3>Last 10 books</h3><br>
            <a href="{% url "add_book" %}">Add new book</a>
		{% for book in books %}
            <h4><a href="{% url "book_by_id" book.id %}">{{ book.name }}</a></h4>
			<hr>
		{% endfor %}
        </div>
        <div class="large-4 columns">
            <h3>Authors</h3><br>
            <a href="{% url "add_author" %}">Add new author</a>
		{% for author in authors %}
            <h4><a href="{% url "books_by_author" author.id %}">{{ author.name }}</a></h4>
			<hr>
		{% endfor %}
        </div>
        <div class="large-4 columns">
            <h3><a href="{% url "genres" %}">Genres</a></h3><br>
            <a href="{% url "add_genre" %}">Add new genre</a>
		{% for genre in genres %}
            <h4><a href="{% url "books_by_genre" genre.id %}">{{ genre.name }}</a></h4>
			<hr>
		{% endfor %}
        </div>
{% endblock %}
