{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BookStore</title>
        <!--<статика вот тут должна подгружаться>-->
        <!--разобраться с бутстрапом-->
        <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}">
        <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    </head>
    <body>
        <script src="{% static "js/vendor/jquery.js" %}"></script>
        <script src="{% static "js/vendor/foundation.js" %}"></script>
        <script src="{% static "js/vendor/foundation.min.js" %}"></script>
        <div class="top-bar" data-topbar>
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text"><a href="/">Homepage</a></li>
                    {% if user.username %}
                        <li><a href="/auth/logout/">Logout ({{ user.username }})</a></li>
                        <li><a href={% url "user_page" %}>Personal Page</a></li>
                    {% else %}
                        <li><a href="/auth/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <!--разобраться с блоками включаемыми-->
            {% block store %}{% endblock %}
            {% block login %}{% endblock %}
            {% block content %}{% endblock %}
            {% block add_content %}{% endblock %}
        </div>
        <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.js' %}"></script>
    </body>
</html>
