{% extends 'base.html' %}
{% load staticfiles %}
{% block login %}
    <h2>Hello, {{ user.username }}!</h2>
    <h3><img src="{{ user.profile.avatar_small.url }}"></h3>
    <h3> {{ user.profile.bio }} </h3>

    <br>
    <h2>This is your favorite books:</h2>
    {% for book in favorite_books %}
        <h3><a href="{% url "book_by_slug" book.slug %}">{{ book.name }}</a></h3>
        <hr>
    {% endfor %}

    <h6><a href="{% url "user_profile_edit" %}">Edit your Profile</a></h6>

{% endblock %}
